<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sajari JavaScript SDK Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <% preact.headEnd %>
  </head>
  <body class="font-sans text-gray-600">
    <% preact.bodyEnd %>
  </body>
</html>
